name: Pytest on server source code change

# Run on push to main when the files in given paths are changed.
on:
  push:
    paths:
      - 'server/main.py'
      - 'server/src/**.py'
    branches:
      - 'main'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.13 environment
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install uv
      run: pip install uv

    - name: Install dependencies with uv
      run: uv sync
      working-directory: server/

    - name: Run Python unit tests
      run: python -m unittest discover unittests/
      working-directory: server/

